.button {
  box-shadow: 0 0px 10px #6fe8f5;
  height: 40px;
  width: 120px;
  background-color: transparent;
  border-color: transparent;
  border-width: 2px;
  opacity: 0.8;
  transition: 0.5s;
}
.button:hover {
  border-color: black;
  opacity: 1;
}
