.card-vs {
  background-color: rgba(22, 27, 28, 0.95);
  /* border: 1px solid; */
  background-image: url(../resources/images/blue-border.png);
  background-size: 100% 100%;
  /* border-color: #18a0db; */
  /* border-radius: 0.5%; */
  box-shadow: 0 0px 10px #6fe8f5;
  color: white;
  width: 80%;
  margin: 5%;
  height: 80px;
  padding: 20px;
  text-align: center;
  animation: fadein 1s;
}

.card {
  background-color: rgba(22, 27, 28, 0.95);
  /* border: 1px solid; */
  background-image: url(../resources/images/blue-border.png);
  background-size: 100% 100%;
  /* border-color: #18a0db; */
  /* border-radius: 0.5%; */
  box-shadow: 0 0px 10px #6fe8f5;
  color: white;
  width: 80%;
  margin: 5%;

  padding: 20px;
  text-align: center;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
