@font-face {
  font-family: "HeadingFont";
  src: url("./resources/fonts/Sansation_Bold.ttf");
}

@font-face {
  font-family: "TextFont";
  src: url("./resources/fonts/Sansation_Light.ttf");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html,
body {
  background-image: url("./resources/images/background.jpg");

  width: 100%;
  height: 130%;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}

.center {
  margin: 150px auto 0;
  text-align: center;
}

h1,
h3,
button {
  font-family: "HeadingFont";
}

p {
  font-family: "TextFont";
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
th,
td {
  border: 1px solid rgba(6, 39, 67, 0.5);
}

@media (max-width: 800px) {
  h1,
  h3,
  button,
  th,
  td,
  p {
    font-size: 80%;
  }
}
