.parentdiv {
  padding: 0;
  align-content: center;
  overflow-x: hidden;
  width: 100%;
}
@media (max-width: 750px) {
  .parentdiv {
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.arrow {
  margin-top: 45%;
  vertical-align: middle;
}

.heroImage {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

@media (max-width: 750px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .table {
    text-align: center;
    width: 100%;
  }
  .arrow {
    margin-top: 0px;
  }
}
