.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0% 2% 2% 2%;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
    padding: 0;
  }
}

.herodiv {
  height: 360px;
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.heroList {
  display: inline-block;
  position: relative;
}

.image {
  height: 250px;
  width: 190px;
  box-shadow: 0 0px 20px #6fe8f5;
  border-radius: 2%;
  opacity: 110;
  transition: 1s;
}
.image:hover {
  transform: scale(1.05);
}

.vsdiv {
  align-self: center;
  color: white;
  /* box-shadow: 0 0px 10px #6fe8f5; */
  /* background-color: rgba(22, 27, 28, 0.95); */
  border-radius: 100%;
  display: inline-block;
  margin-top: 0%;
  position: relative;
  max-width: 120px;
  max-height: 120px;
}
.vslogo {
  max-width: 100%;
}
@media (min-width: 701px) {
  .vsdiv {
    margin-top: 1px;
  }
}

.stageheader {
  color: white;
  background-color: black;
  width: 8%;
  margin: 0 auto 0;
}
/* TO DO: Move images to dynamic <img /> elements, and use object-fit css instead of background image */
